* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    margin: 5px;
    flex-direction: column;
    min-height: 100vh;
    border: 5px solid grey;
    justify-content: center;
    align-items: center;
}

main {
    width: 30%;
}

h1 {
    background-color: rgb(148,195,129);
    color: #ffffff;
    padding: 10px;
    text-transform: uppercase;
    font-family: Helvetica;
    text-align: center;
}

ul {
    list-style: none;
}

li, li span {
    font-family: helvetica;
}

li {
    margin: 30px 0 30px 0;
    color: #fac879;
}

li span {
    color: #ffffff;
    margin-right: 10px;
    text-align: center;
    background-color: red;
    padding: 5px;
}

input, button {
    border: 3px solid rgb(148,195,129);
    height: 40px;
}

input {
    width: 75%;
}

button {
    background-color: #ffffff;
    color: rgb(148,195,129);
    text-transform: uppercase;
    font-weight: 600;
    width: 24%;
}